/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* CSS Variables */
:root{
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3a2620; /*dark brown*/
    --secondary-color: #aa9581; /*light brown*/
    --highlight-color: #416a8e; /*blue*/
    --highlight-color-light: #7a9fc2; /*light blue*/
}
/* Global Styles */
body{
    font-family: var(--primary-font);
}

h1, h2, h3{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2{
    text-transform: uppercase;
}

h2{
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    padding-top: 4rem;
}

/* Navbar */
#navbar{
    background-color: var(--primary-color);
}

#navbar .logo{
    width: 30px;
}

/* Buttons */

.custom-buttons-filled{
    background-color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    color: white;
}

.custom-buttons-filled:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: white;
}

.custom-buttons-outline{
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 7px 25px;
    margin-bottom: 1rem;
}

.custom-buttons-outline:hover{
    background-color: var(--highlight-color);
    color: white;
}


/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services */

#services .card-footer{
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card-margin{
    margin-bottom:1.5rem;
}

/* Events */

#join-events .custom-buttons-outline{
    max-width: max-content;
}

#join-events .discount{
    background-color: var(--highlight-color);
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
    max-width: max-content;
    justify-self: anchor-center;
}

.discount p{
    margin-bottom: 0;
}
/* Games */

#fav-games .card-margin, #new-games .card-margin{
    margin-bottom:1.5rem;
}
/* Contact Us */

#contact{
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2{
    color: white;
}

#contact .sub-heading-color{
    color: var(--highlight-color-light);
}

#contact i{
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links a{
    text-decoration: none;
}

#contact .social-links i{
    color: var(--highlight-color-light);
    font-size: 1.9rem;
}

#contact .social-links i:hover{
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}

#contact .table-dark *{
    background-color: transparent;
}

/* Reserve */

#reserve .submit{
    text-align-last: end;
}

/* Sticky footer */

html, body {
    height: 100%;
  }
/* Media Queries */

/* Extra small devices (575px and less */

@media screen and (max-width: 575px) {

}

/* Small devices (576px and more) */

@media screen and (min-width: 576px) {

}

/* Medium devices (768px and more) */

@media screen and (min-width: 768px) {
    /* Make all service cards of the same height for consistency */
    #services .card-body{
        min-height: 194px;
    }
    /* Make all game cards of the same height for consistency */
    #fav-games .card-body{
        min-height: 311px;
    }
}

/* Large devices (992px and more) */

@media screen and (min-width: 992px) {
    /* Make all service cards of the same height for consistency */
    #services .card-body{
        min-height: auto;
    }
}


/* Extra large devices (1200px and more) */

@media screen and (min-width: 1200px) {
    /* Make all service cards of the same height for consistency */
    #services .card-body{
        min-height: 200px;
    }
}

/* Extra Extra large devices (1400px and more) */

@media screen and (min-width: 1400px) {
    /* Make all service cards of the same height for consistency */
    #services .card-body{
        min-height: 198px;
    }
    /* Make all game cards of the same height for consistency */
    #fav-games .card-body{
        min-height: 314px;
    }
}

/* Visual purposes */

/* div{
    border: black solid 2px;
} */